<div class="container">
  <div class="page-header">
    <h1><%= APP_NAME %></h1>
    <h2>
      <small>Your one-stop shop for organic rainbow colored unicorn tails.</small>
      <br/>
      <small>No unicorns were harmed in the making of this store.</small>
    </h2>
  </div>

  <p class="lead">
    <%= link_to "Buy Rainbow Tails", buy_tail_url %>
  </p>

</div>
